# Dependencies
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# Build files
build/
dist/
out/
coverage/

# IDE files
.idea/
.vscode/
*.iml
*.swp
*.swo
.DS_Store
Thumbs.db

# Docker specific files
Dockerfile
.dockerignore

# Git files
.git/
.github/

# Environment files (may contain secrets)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local